<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Users</a></li>
    </ul>
    <div class="form">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update a User</legend>
                <div class="input-group">
                    <label for="">id:</label>
                    <input type="text" readonly value="<%= userEdit.id%>" name="id">
                </div>
                <div class="input-group">
                    <label for="">Email:</label>
                    <input type="text" value="<%= userEdit.email%>" name="email">
                </div>
                <div class="input-group">
                    <label for="">Name:</label>
                    <input type="text" value="<%= userEdit.name%>" name="uName">
                </div>
                <div class="input-group">
                    <label for="">City:</label>
                    <input type="text" value="<%= userEdit.city%>" name="city">
                </div>
                <div>
                    <button>
                        Save
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>